#conteneur {
    align-content: center;
    display: grid;
    grid-template-areas:
        "header header header "
        " nav nav nav        "
        "aside Dans main     "
        "footer footer footer";
    grid-gap: 5px;
    font-size: 30px;
    padding: 10px;
    border: 3px solid white;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    height:80vh ;
}

#header {
    grid-area: header;
    background-color: aquamarine;

}

#nav {
    grid-area: nav;
    background-color: aquamarine;

}

#aside {
    grid-area: aside;
    background-color: aquamarine;

}

#main {
    grid-area: Dans main;
    background-color: aquamarine;
grid-column-start:2 ;
grid-column-end: 4;
}

#footer {
    grid-area: footer;
    background-color: aquamarine;

}